{
  // имя регистрируемой службы Windows (обязательно)
  "name": "service",
  // описание службы (обязательно)
  "description": "Windows service",
  // абсолютный путь бинарного файла родительского процесса (обязательно)
  "parentExecPath": "C:/Users/user/service.exe",
  // абсолютный путь бинарного файла дочернего процесса (обязательно)
  "childExecPath": "C:/Users/user/server.exe",
  // параметры запуска дочернего процесса (необязательно)
  "childExecArgs": ["-config", "C:/Users/user/debug.config.json", "server", "start"],
  // путь файла для записи логов дочернего процесса
  // если указано только имя файла, то файл будет создан в директории бинарного файла дочернего процесса
  "logFilePath": "service.log",
  // максимальный размер файла до ротирования (необязательно)
  // при превышании размера будет создан новый файл с указанным выше именем, а файл со старыми логами будет переименован
  "logFileMaxSizeMB": 50,
  // максимальное количество ротаций файла (необязательно)
  "logFileMaxBackups": 3,
  // максимальный срок хранения файла в днях (необязательно)
  "logFileMaxAgeDays": 28,
  // сжатие файла с помощью gzip (необязательно)
  "logFileCompress": false
}
